## Chọc lọc dữ liệu

Nội dung chính:
* Phương thưc loại bỏ
  * Loại bỏ các đặc trung không liên quan
  * Loại bỏ các dòng không liên quan
* Pandas
  * Chọn lọc đơn giản sử dụng pandas
  * Suy luận nội suy sử dụng pandas
* sklearn
  * Chọn lọc sử dụng sklearn
  * KNN sử dụng trong sklearn
  * Bổ sung dữ liệu lặp theo sklearn
* Áp dụng mô hình ọc theo dữ liệu test

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Nạp và khám phá dữ liệu

In [16]:
import pandas as pd
# Or load titanic data that are alraedy split into train and test data sets according to https://www.kaggle.com/c/titanic/data
# But the test data of kaggle does not have labels
# Therefore we will load  the whole data from a data repository then split it latter
titanic_data = pd.read_csv("https://www.openml.org/data/get_csv/16826755/phpMYEkMl.csv", na_values=['?']) #yo
titanic_data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [13]:
# Load the titanic data from a public Kaggle dataset
try:
    titanic_data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv", na_values=['?'])
    print("Successfully loaded data from Kaggle repository.")
except Exception as e:
    print(f"Could not load data from Kaggle repository: {e}")

# Display the head of the dataframe if it was successfully loaded
if 'titanic_data' in locals():
    display(titanic_data.head())
else:
    print("Data could not be loaded from any source.")

Successfully loaded data from Kaggle repository.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### **Gía trị được xem là bị thiếu**
Có nhiều cách để có thể trình bày dữ liệu thiếu thông quá file dataset và python pandas  

Dữ liệu thiếu trong dữ liệu tức là một thực thể trông hoặc '?' hoặc đôi khi là một điều gì đó khác trong quá trình thu thập dữ liệu trình bày cho việc dữ liệu không thẻ sắp xếp hay không liên tục trong trường hợp này '?' được xem như là `na_values=['?']` trong pandas

Trong một số trường hợp khác, `pandas` có thể trình bày giá trị thiếu theo nhiều cách khác nhau. Có thể thấy bên dưới "NaN" là mặc định để biểu thị cho giá trị bị thiếu, mặc dù có thể dễ dàng giá trị này trong nhiều kiểu dữ liệu khác nhau: floating, integer, boolean, và kể cả object. Nhiêu trường hợp, giá trị bị thiếu có thể được biểu diễn như None, "missing" hoặc "not available", "NA" hoặc (-) giá trị âm

In [17]:
# # Let's drop some features that we will not consider here.
# titanic_data.drop(['name','ticket', 'embarked', 'boat' ,'body' ,'home.dest'], axis=1, inplace=True)

Bây giờ ta sẽ chia dữ liệu thành tập train và test và **CHỈ** tập train mới được sử dụng để thực hiện lập đầy khi xây dựng mô hình học rồi sau đó mới áp dụng cho tập test

In [18]:
from sklearn.model_selection import train_test_split
y=titanic_data['survived']
X=titanic_data.drop(['survived'], axis=1)
X_titanic_train, X_titanic_test, y_titanic_train, y_titanic_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [20]:
# #Now if we perform classification it might not work for most classifiers
# from sklearn.ensemble import RandomForestClassifier
# classifier = RandomForestClassifier()
# #classifier=SVC()
# classifier.fit(X_titanic_train, y_titanic_train)

Có vấn đề xảy ra rằng trong đặc trưng "sex" và "cabin" có giá trị String do đó ta phải chuyển đổi đặc trưng này thành số

In [ ]:
# We need the upgraded sklearn to accept the parameters for encoders
import sklearn
!pip install -U scikit-learn
print('The scikit-learn version is {}.'.format(sklearn.__version__))

In [ ]:
import numpy as np
# Encoding categorical features with preserving the missing values in incomplete features
from sklearn.preprocessing import OrdinalEncoder
encoder_sex = OrdinalEncoder(handle_unknown = 'use_encoded_value', unknown_value=np.nan)
X_titanic_train_encoded=X_titanic_train.copy()
X_titanic_train_encoded['sex'] = encoder_sex.fit_transform(X_titanic_train_encoded['sex'].values.reshape(-1, 1))

#Now lets encode the incomplete Cabin feature
encoder_cabin = OrdinalEncoder(handle_unknown = 'use_encoded_value', unknown_value=np.nan) #You can use the same encoder for both but we use two for the sake of clarfication
X_titanic_train_encoded['cabin'] = encoder_cabin.fit_transform(X_titanic_train_encoded['cabin'].values.reshape(-1, 1).astype(str))
#get the code of the "nan" value for the cabin categorical feature
cabin_nan_code=encoder_cabin.transform([['nan']])[0][0]
#print(cabin_nan_code)
#Now, retrive the nan values to be missing in the encoded data
X_titanic_train_encoded['cabin'].replace(cabin_nan_code,np.nan,inplace=True)

`X_titanic_train_encoded` là chuẩn hóa cho tập training

In [ ]:
#Check the types of the encoded data, no object features
X_titanic_train_encoded.info()

In [ ]:
# As the data has no strings/object snow, let's try performing classification using the encoded data
classifier.fit(X_titanic_train_encoded, y_titanic_train)

Ghi chú lỗi: Input contains NaN, infinity or a value too large for dtype('float32')

Ta cần xử lý lỗi trước khi thực hiện phân loại

----

Trình bày số lượng dữ liệu bị thiếu trong mỗi đặc trưng sau khi đã chuyển đổi (encoder) trong tập train

In [ ]:
print("The number of missing values ")
print(X_titanic_train_encoded.isnull().sum())

Ta có 3 đặc trưng cần quan tâm  
* Age
* Fare
* Cabin

## Phương pháp xóa

### Loại bỏ các giá trị không tương quan

In [ ]:
X_titanic_train_complete=X_titanic_train_encoded.copy()
X_titanic_train_complete.dropna(axis=1, inplace=True)
X_titanic_train_complete

In [ ]:
#Check the number of missing values
print(X_titanic_train_complete.isnull().sum())

### Loại bỏ các dòng bị thiếu

In [ ]:
X_titanic_train_complete=X_titanic_train_encoded.copy()
X_titanic_train_complete.dropna(axis=0, inplace=True)
#The difference is axis=0 instead of 1
X_titanic_train_complete

## Lưu ý trong quá trình thay đổi số lượng dòng

Một điều quan trọng khi loại bỏ dòng là xác định mối lien hiện giữa đặc trưng mục tiêu có mối quan hện với đặc trưng khi loại bỏ dòng hay không

In [ ]:
#Check the number of missing values
print(X_titanic_train_complete.isnull().sum())

Phương pháp xóa có một số hạn chế. Nó làm giảm lượng dữ liệu có sẵn, điều này hạn chế khả năng học hỏi, đặc biệt khi có nhiều giá trị bị thiếu.

Hơn nữa, việc xóa các bản ghi không đầy đủ không thực tế đối với dữ liệu kiểm tra: chúng ta thực sự muốn biết kết quả!

## Chọn lọc bằng cách sử dụng `pandas`

In [ ]:
#Mean for numeric values
X_titanic_data_complete=X_titanic_train_encoded.copy()
X_titanic_data_complete['age']=X_titanic_data_complete['age'].fillna(X_titanic_data_complete['age'].mean())
X_titanic_data_complete['fare']=X_titanic_data_complete['fare'].fillna(X_titanic_data_complete['fare'].mean())
X_titanic_data_complete['cabin']=X_titanic_data_complete['cabin'].fillna(X_titanic_data_complete['cabin'].mean())
# Show the number of missing values
print(X_titanic_data_complete.isnull().sum())

In [ ]:
X_titanic_data_complete.head()

## "Thay thế" (`pandas`)

In [10]:
X_titanic_data_complete = X_titanic_train_encoded.copy()
X_titanic_data_complete = X_titanic_data_complete.interpolate()
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete = pd.DataFrame(X_titanic_train_complete)
print(X_titanic_train_complete.isna().sum())

NameError: name 'X_titanic_train_encoded' is not defined

## Chọn lọc sử dụng `sklearn`

### Chọn lọc cơ bản `sklearn`

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_titanic_train_complete = imputer.fit_transform(X_titanic_train_encoded)
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete=pd.DataFrame(X_titanic_train_complete, columns=X_titanic_train_encoded.columns)
print("The number of missing values :\n", X_titanic_train_complete.isnull().sum())

In [ ]:
X_titanic_train_encoded

Thay thế mặc định bằng sklearn là sử dụng giá trị mean ta có thể thay thế mặc định sử dụng thuộc tính tham số trong hàm

In [ ]:
imputer = SimpleImputer(strategy="median")
X_titanic_train_complete = imputer.fit_transform(X_titanic_train_encoded)
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete=pd.DataFrame(X_titanic_train_complete, columns=X_titanic_train_encoded.columns)
print("The number of missing values :\n", X_titanic_train_complete.isnull().sum())

## KNN thay thế (`sklearn`)

In [ ]:
from sklearn.impute import KNNImputer
imputer = KNNImputer()
X_titanic_train_complete = imputer.fit_transform(X_titanic_train_encoded)
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete=pd.DataFrame(X_titanic_train_complete, columns=X_titanic_train_encoded.columns)
print("The number of missing values :\n", X_titanic_train_complete.isnull().sum())

In [ ]:
#The default k for the KNN imputer is 5, you can change it as follows:
imputer = KNNImputer(n_neighbors=2)
# etc etc...

Suy luận nội suy (`sklearn`)

Lưu ý rằng sklearn với phương thức mặc định là "MICE"

In [11]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imputer = IterativeImputer()
X_titanic_train_complete = imputer.fit_transform(X_titanic_train_encoded)
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete=pd.DataFrame(X_titanic_train_complete, columns=X_titanic_train_encoded.columns)
print("The number of missing values :\n", X_titanic_train_complete.isnull().sum())

NameError: name 'X_titanic_train_encoded' is not defined

Ta có thể thay đổi giá trị tham số mặc định trong hàm nội suy. Ví dụ ta có thể set số lượng độ sâu. Hơn nữa a có thể lựa chọn giá trị thay thế cho giá trị bị thiếu

In [ ]:
# Lets use DT as an estimator
from sklearn.tree import DecisionTreeRegressor
imputer = IterativeImputer(estimator=DecisionTreeRegressor())
X_titanic_train_complete = imputer.fit_transform(X_titanic_train_encoded)
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete=pd.DataFrame(X_titanic_train_complete, columns=X_titanic_train_encoded.columns)
print("The number of missing values :\n", X_titanic_train_complete.isnull().sum())

## Áp dụng mô hình học vào mô hình test

### Áp dụng encoder cho dữ liệu test

In [ ]:
#The learnt encoder_sex should be used to encode the test data, NOTE there is NO fit here, just transform
X_titanic_test_encoded=X_titanic_test.copy()
X_titanic_test_encoded['sex'] = encoder_sex.transform(X_titanic_test_encoded['sex'].values.reshape(-1, 1))

#The learnt encoder2 should be used to encode the test data, NOTE there is NO fit here, just transform
X_titanic_test_encoded['cabin'] = encoder_cabin.transform(X_titanic_test_encoded['cabin'].values.reshape(-1, 1).astype(str))
#Now, retrive the nan values to be missing in the encoded data
X_titanic_test_encoded['cabin'].replace(cabin_nan_code,np.nan,inplace=True)

### Sử dụng hàm học để có thể loại bỏ các giá trị bị thiếu trong tập test

In [ ]:
print("The number of missing values in the test data before imputation :\n", X_titanic_test_encoded.isnull().sum())
X_titanic_test_complete = imputer.transform(X_titanic_test_encoded)
X_titanic_test_complete=pd.DataFrame(X_titanic_test_complete, columns=X_titanic_test_encoded.columns)
print("The number of missing values in the test data after imputation :\n", X_titanic_test_complete.isnull().sum())

### Áp dụng mô hình phân loại cho dữ liệu đã được biến đổi

In [ ]:
#We use f-measure because the classes are not balanced
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(random_state=0)
#classifier=SVC()
classifier.fit(X_titanic_train_complete, y_titanic_train)
print("F1 score after imputation = ", f1_score(classifier.predict(X_titanic_test_complete), y_titanic_test))